/* Solution by me */
.smile{
    height: 200px;
    width: 200px;
    background-color: #ffee00;
    border-radius: 50%;
}

.face-eyes { 
    height: 35px;
    width: 35px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50px;
}

#face-left-eye {
    left: 50px;
}

#face-right-eye {
    left: 130px;
}

.face-mouth {
    height: 40px;
    width: 100px;
    background-color: #ff0073;
    border-radius: 0 0 30px 30px;
    position: absolute;
    left: 60px;
    top: 130px;
}